<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>The Smiley Site</title>
    <style type="text/css">
       div {width:100%;}
            img
            {
            border:1
            }
    </style>
</head>
<body>
    <div style="width:340px;text-align:center;float:left;" id="smiley">
        <img src="smiley-faceicon.jpg" alt="Smiley" height="42" width="42" />
    </div>
</body>
</html>